<launch>
  <!-- Real-world 2v2 top-level launch (run on the master PC). -->
  <arg name="map_file" default="$(find robot_vs)/maps/mymap.yaml" doc="Global map used by all robots"/>
  <arg name="open_rviz" default="true" doc="Start RViz on the master PC"/>

  <arg name="start_map" default="true" doc="Start map server"/>
  <arg name="start_referee" default="true" doc="Start referee node"/>
  <arg name="start_managers" default="true" doc="Start managers"/>
  <arg name="start_cars" default="true" doc="Start car agents"/>

  <!-- Map server + optional RViz -->
  <include file="$(find robot_vs)/launch/real_world/master_bringup.launch" if="$(arg start_map)">
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="open_rviz" value="$(arg open_rviz)"/>
  </include>

  <!-- Referee + managers + agents -->
  <include file="$(find robot_vs)/launch/manager/referee.launch" if="$(arg start_referee)"/>
  <include file="$(find robot_vs)/launch/manager/managers.launch" if="$(arg start_managers)"/>
  <!-- <include file="$(find robot_vs)/launch/car/cars4.launch" if="$(arg start_cars)"/> -->
</launch>
