<launch>
  <!-- ########## 核心配置（先改这里！）########## -->
  <arg name="robot_namespace" default="robot_blue" doc="蓝车命名空间"/>
  <!-- <arg name="urdf_path" default="$(find robot_vs)/config/mowen_param/mowen.urdf.xacro" doc="蓝车的URDF模型"/> -->
  <arg name="type" default="normal" doc="type [normal, modbus, hmodbus, can, hcan]"/>
  <arg name="initial_pose_x" default="0.0" doc="【必须适配】蓝车在场地里的实际初始X坐标"/>
  <arg name="initial_pose_y" default="0.0" doc="【必须适配】蓝车在场地里的实际初始Y坐标"/>
  <arg name="initial_pose_a" default="0.0" doc="【必须适配】蓝车在场地里的实际初始朝向（弧度）"/>

  <group ns="$(arg robot_namespace)">
    <!--底盘-->
    <node pkg="car_bringup" type="newt.py" name="newt">
      <remap from="/cmd_vel" to="cmd_vel"/>
    </node>
    <!-- 加载雷达 -->
    <include file="$(find robot_vs)/launch/description/lslidar_serial.launch" >
      <arg name="robot_namespace" value="$(arg robot_namespace)"/>
    </include>
    <!-- 加载机器人模型-->
    <param name="robot_description" textfile="$(find robot_vs)/config/mowen_param/mowen.urdf" />

    <!-- <param name="robot_description"         command="$(find xacro)/xacro   $(find robot_vs)/config/mowen_param/mowen.urdf.xacro ns:=$(arg robot_namespace)"/> -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0"/>
      <param name="tf_prefix" value="$(arg robot_namespace)"/>
    </node>
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen"/>
    <!--Unknown!!!!-->
    <node pkg="robot_vs" type="wit_$(arg type)_ros.py" name="imu" output="screen">
        <param name="port"               type = "str"    value="/dev/imu"/>
        <param name="baud"               type = "int"    value="9600"/>
        <param name="frame_id" type = "str" value="$(arg robot_namespace)/base_link"/>
        <remap from="/wit/cali" to="wit/cali"/>
        <!-- 如果IMU节点还发布/wit/imu，确保也是相对话题 -->
        <remap from="/wit/imu" to="wit/imu"/>
    </node>
    
    <node pkg="robot_vs" name="pubv" type="pubv.py"  >
      <remap from="/vel_raw" to="vel_raw"/>
    </node>
    <node pkg="car_bringup" type="base_node" name="odometry_publisher">
        <param name="odom_frame" type="string" value="$(arg robot_namespace)/odom"/>
        <param name="base_footprint_frame" type="string" value="$(arg robot_namespace)/base_footprint"/>
        <param name="linear_scale_x" type="double" value="1.0"/>
        <param name="linear_scale_y" type="double" value="1.0"/>
        <remap from="/sub_vel" to="vel_raw"/>
        <remap from="/pub_odom" to="odom_raw"/>
    </node>

    <!-- 扩展卡尔曼数据融合 -->
    <!-- Extended Kalman data fusion -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" output="screen">
        <remap from="odometry/filtered" to="odom"/>
        <remap from="/imu0" to="wit/imu"/>
        <remap from="/odom0" to="odom_raw"/>
        <param name="odom_frame" value="$(arg robot_namespace)/odom"/>
        <param name="world_frame" value="$(arg robot_namespace)/odom"/>
        <param name="base_link_frame" value="$(arg robot_namespace)/base_footprint"/>
        <rosparam command="load" file="$(find car_bringup)/param/robot_localization.yaml"/>
        <param name="imu0_frame" value="$(arg robot_namespace)/base_link"/>
    </node>
  </group>

  
  <!-- ============================================== -->
  <!-- 3. AMCL定位节点 -->
  <!-- ============================================== -->
  
  <include file="$(find robot_vs)/launch/real_world/amcl.launch">
      <arg name="robot_namespace" value="$(arg robot_namespace)" />
      <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
      <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
      <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>


  <!-- ============================================== -->
  <!-- 4. move_base导航节点 -->
  <!-- ============================================== -->
  
  <include file="$(find robot_vs)/launch/real_world/move_base.launch">
      <arg name="robot_namespace" value="$(arg robot_namespace)" />
  </include>
  
</launch>